<div class="comment"><%= comment %>
</div>

<img src="img/comment-arrow.png" alt="arrow" class="comment-arrow" />

<div class="container">
  <div class="avatar">
    <img src="img/avatar_50x50.png" alt="avatar" /><br />
  </div>

  <table>
    <tr>
      <td>
        <%= title %>
        <div class="description"><%= description %></div>
      </td>
      <td rowspan="2" class="show-description">
        <span class="arrow">
          <!-- &laquo; -->
          &raquo;
        </span>
      </td>
    </tr>
    <tr class="footer">
      <td>Priority: <%= priority %> / <%= from %> / <%= to %></td>
    </tr>
  </table>
</div>
